streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-postgres
langchain-pinecone
pinecone
psycopg2-binary
sentence-transformers
clean-text
plotly
pandas
yfinance
sqlalchemy
bcrypt