streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-postgres
langchain-pinecone
pinecone-client
psycopg2-binary
sentence-transformers
plotly
pandas
yfinance
sqlalchemy